@import '@sass/theme/variables';

.container_section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(1rem, 40rem));
	margin: 8px;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
}

.section {
	height: 20.75rem;
	background-color: $background;
	border: 1px solid rgba(255, 255, 255, 0.8);
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

}

.img_main {
	position: relative;
}

.img_overlays {
	color: #f1f1f1;
	width: 100%;
}

.section_name {
	font-family: 'Signika', sans-serif;
	position: absolute;
	color: white;
	font-weight: bold;
	font-size: 2rem;
	top: 86%;
	left: 4%;
	z-index: 2;
}