@import '@sass/theme/variables';

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	// gap: 10px;
	max-width: 100%;
	max-height: 40rem;
	background: $background;
	overflow-y: hidden;
	overflow-x: hidden ;
}

/* Inside auto layout */
.element {
	flex: none;
	order: 2;
	align-self: stretch;
	flex-grow: 0;
	max-width: 100%;
	height: auto;

}