@import "@sass/theme/variables.scss";

.container {
  margin: 0.5rem 0;
  border: 2px solid lightskyblue;
  border-radius: $border-radius-1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  padding: 1rem;
  grid-template-areas:
        'thumbnail productName productName productName'
        "thumbnail dropMenu amountMenu totalPrice"
        "thumbnail details details details";
}


.thumbnail {
  grid-area: thumbnail;
  display: flex;
  align-items: center;

  &__image {
    border-radius: $border-radius-1;
    width: 100%;
  }
}

.productName {
  grid-area: productName;
  text-align: center;
}


.amountMenu {
  grid-area: amountMenu;
  color: $info;
  display: flex;
  margin: 0 0.5rem;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;

    &__rounded__button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: $border;
      border-radius: $border-radius-circle;
      padding: 0.5rem;
      margin: 0 0.5rem;
      font-size: 0.75rem;
    }

    &__amount {
      margin: 0;
      font-weight: bold;
      color: $primary;
    }
  }

}

.details {
  grid-area: details;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  strong {
    color: $info;
  }
}

.dropMenu {
  grid-area: dropMenu;
  display: flex;
  align-items: center;
  justify-content: right;

  &__button {
    background-color: white;
    border: none;
    color: $primary;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.totalPrice {
  grid-area: totalPrice;
  display: flex;
  align-items: center;

  &__text {
    text-align: right;
    color: $info;
  }
}